.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 5rem;
    justify-content: start;
    align-items: start;
    gap: 60px;
    margin-top: 5%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

@media(max-width:750px) {
    .container {
        justify-content: center;
    }
}

@media(max-width:500px) {
    .inputPhoneV>* {
        width: 300px;
    }
}