.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container div{
    text-align: center;
}
.infoIngr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}