.bgBlure{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    background-color: rgba(0, 0, 0, 0.6); 
}
.container{
    text-Align:center;
    
    max-Width:720px;
    background-Color:rgba(28, 28, 33, 1);
    border-Radius:40px;
}

.closePopup{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infoIngr{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}