.container {
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.groupSubButtom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;

}

.groupSubButtom div {
    text-align: center;
    width: auto;
}

.groupSubButtom div span {
    padding-right: 10px;
}

.groupSubButtom div span~* {
    padding: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}